.comments-text {
  font-size: 15px;
  margin-bottom: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: blue;
}

.center-content {
  /* display: flex; */
  justify-content: flex-end;
  margin-left: 25%;
  margin-right: 27%;
}
